.ipynb_checkpoints
.DS_Store
.vscode
__pycache__
output
.style.yapf
format.sh
save
*.mid
checkpoints/eval
*.wav
experiments/
save/
audio-midi/
latent-samples/
preprocess_tfrecords/
checkpoints/
vae_output/
datans/
fluid/
datasets/
checkpoints/